CADDY_IMAGE=caddy:2-alpine

VUE_SPRING_DOMAIN=vue-spring.huposit.kr
VUE_SPRING_FRONTEND_HOST_PORT=3000
VUE_SPRING_BACKEND_HOST_PORT=8080
VUE_SPRING_S3_DOMAIN=vue-spring-s3.huposit.kr
VUE_SPRING_MINIO_API_HOST_PORT=9000

RR7_FULLSTACK_DOMAIN=rr7-fullstack.sejongclass.kr
RR7_FULLSTACK_HOST_PORT=5173
