CADDY_IMAGE=caddy:2-alpine

VUE_SPRING_DOMAIN=vue-spring.huposit.kr
VUE_SPRING_FRONTEND_HOST_PORT=3000

RR7_FULLSTACK_DOMAIN=rr7-fullstack.sejongclass.kr
RR7_FULLSTACK_HOST_PORT=5173

SOMAMEET_DOMAIN=somameet.sejongclass.kr
SOMAMEET_FRONTEND_HOST_PORT=3410

TEAM_FIT_DOMAIN=asm17.huposit.kr
TEAM_FIT_FRONTEND_HOST_PORT=3200
TEAM_FIT_BACKEND_HOST_PORT=8200

TEAM_310_DOMAIN=huposit.kr
TEAM_310_FRONTEND_HOST_PORT=3310
TEAM_310_BACKEND_HOST_PORT=8310
