{$VUE_SPRING_DOMAIN} {
    encode zstd gzip
    reverse_proxy 127.0.0.1:{$VUE_SPRING_FRONTEND_HOST_PORT}
}

{$RR7_FULLSTACK_DOMAIN} {
    encode zstd gzip
    reverse_proxy 127.0.0.1:{$RR7_FULLSTACK_HOST_PORT}
}
