{
    auto_https on
}

{$VUE_SPRING_DOMAIN} {
    encode zstd gzip

    @api path /api/*
    handle @api {
        reverse_proxy 127.0.0.1:{$VUE_SPRING_BACKEND_HOST_PORT}
    }

    handle {
        reverse_proxy 127.0.0.1:{$VUE_SPRING_FRONTEND_HOST_PORT}
    }
}

{$VUE_SPRING_S3_DOMAIN} {
    reverse_proxy 127.0.0.1:{$VUE_SPRING_MINIO_API_HOST_PORT}
}

{$RR7_FULLSTACK_DOMAIN} {
    encode zstd gzip
    reverse_proxy 127.0.0.1:{$RR7_FULLSTACK_HOST_PORT}
}
